// Colors

$orange-color: #f16718;
$orange-lite-color: #ff9b62;
$dark-blue-color: #162542;
$silver-color: #7b8bad;
$sky-blue-color: #e8eff2;
$white-color: #ffffff;
// Colors end

// main-fonts

$main-ff: "Barlow", sans-serif;
